.lmj-title {
    display: flex;
    justify-content: right;
    color: black;
    text-align: right;
    padding: 10px 20px 10px 10px;
    border-bottom: solid 2px;
}

.lmj-logo {
    width: 50px;
    height: 50px;
    /* background-color: pink; */
}